.address__local {
  display: inline-block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
