.footsoclist__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
}

.footsoclist__icon {
    fill: #ffffff;
}
.footsoclist {
    margin-right: 90px;
}
.footsoclist__link {
    background-color: rgba(255, 255, 255, 0.1);
}