.logo {
    margin-right: 93px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--title-color);
    transition: color var(--transition);
    &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.logo__part {
    color: var(--accent-color);
}

